<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	
<div th:fragment="mypage-content-account">
	<div class="container">
		<div class="page-header">
			<h2>
				구매자 계좌인증
			</h2>
		</div>
		<div>
		<th:block th:if="${informationOfConsumerAccount} == null">
			<form th:action="@{/consumer/mywallet/addaccount}" method="post">
				<div>
					<input type="hidden" name="fkConsumerAccountConsumer" th:value="${sessionLogin.sessionId}">
				</div>
				<div class="form-group">
					<dl><dt>구매자 이름</dt></dl>
					<input type="text" class="form-control" name="accountConsumerName" id="consumerName">
					<span id="nameHelper"></span>
				</div>
				<div class="form-group">
					<dl><dt>은행</dt></dl>
					<select class="form-control" name="accountConsumerBankName" id="bankName">
					  <option value="농협">농협</option>
					  <option value="신한">신한</option>
					  <option value="우리">우리</option>
					</select>
				</div>
				<div class="form-group">
					<dl><dt>계좌번호</dt></dl>
					<input type="text" class="form-control" name="accountConsumerAccountNo" id="consumerAccount">
					<button type="button" class="btn btn-default" onclick="accountCheck()">
						계좌조회
					</button>
					<span id="accountHelper"></span>
				</div>
				<div class="form-group text-center">
					<button type="submit" class="btn btn-info">
						계좌등록
					</button>
					<button type="button" class="btn btn-warning">
						계좌등록취소						
					</button>
				</div>		
			</form>
		</th:block>
		<th:block th:unless="${informationOfConsumerAccount} != null"></th:block>
			<h3>
				<span th:text="${informationOfConsumerAccount.fkConsumerAccountConsumer}"></span> 님, 계좌가 존재합니다.
			</h3><br>
			<div>
				<table class="table gift-table">
					<thead>
						<tr>
							<th>이름</th>
							<th>은행명</th>
							<th>계좌번호</th>
							<th>계좌등록일</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="list : ${informationOfConsumerAccount}">
							<td th:text="${list.accountConsumerName}"></td>
							<td th:text="${list.accountConsumerBankName}"></td>
							<td th:text="${list.accountConsumerAccountNo}"></td>
							<td th:text="${list.accountConsumerSignUpDate}"></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
</html>