<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	data-layout-decorate="~{layout/myWallrtTabMenuLayout}">
	
<th:block layout:fragment="css">
	<style type="text/css">
		.tab-content{
            background-color: #fff;
        }
	</style>
</th:block>

<th:block layout:fragment="script">
	<script type="text/javascript">
		$(document).ready(function(){
			/* side menu */
			$("#nav-history").addClass("active");
			$("#wallet-tab-history").addClass("active");
	    });
	</script>
	<script>
	/* 날짜별 검색결과 가져오기 */
	function searchCheck(){
		console.log('날짜별 데이터 가져오기');
		
		/* 검색버튼 누를 때 처음 리스트를 숨김 */
		$('#firstList').hide();
		$('#firstPaging').hide();
		/* 클릭을 할 때마다 테이블에 데이터가 쌓이지 않게 함 */
		/* :gt(index) 주어진 인덱스보다 높은 인덱스를 갖는 모든 요소와 일치
			tr:gt(0)는 문서에 존재하는 모든 tr 중 그 인덱스가 0 이상인 모든 열들을 선택 */
		$("#signList").find("tr:gt(0)").remove();
		
   		var startDate = $('#startDate').val();
   		var endDate = $('#endDate').val();
   		console.log(startDate + '<-----startDate');
   		console.log(endDate + '<-----endDate');
     	$.ajax({
    		async : false,
    		url : '/consumer/get/search/list',
    		type : 'POST',
    		data : JSON.stringify({'startDate': startDate, 'endDate': endDate}),
    		contentType: "application/json; charset=UTF-8",
    		success : function(data){
    			console.log('data 받아오기 성공');
    			console.log(data);
    			console.log(Object.keys(data) + '<-----이게 뭘까용');
    			console.log(data["searchListVo"][0].signPk + '<-----이게 뭘까용2');
    			console.log(data["searchListVo"][1].signPk + '<-----이게 뭘까용2');
    			console.log(data["pageMaker"].totalCount + '<-----토탈카운트');
    			
    			var totalCount = data["pageMaker"].totalCount;
    			console.log(totalCount + '<--- 냥');
 
    			for(var i = 0; i < totalCount; i++) {
       				$('#signList').append("<tr><td>" + data["searchListVo"][i].signPk
   						+ "</td><td>" + data["searchListVo"][i].fkOrderBuySign
   						+ "</td><td>" + data["searchListVo"][i].fkSellerSign 
   						+ "</td><td>" + data["searchListVo"][i].signSellerName 
   						+ "</td><td>" + data["searchListVo"][i].signPerPrice 
   						+ "</td><td>" + data["searchListVo"][i].signAmount 
   						+ "</td><td>" + data["searchListVo"][i].signTotalPrice 
   						+ "</td><td>" + data["searchListVo"][i].signInitialMargin 
   						+ "</td><td>" + data["searchListVo"][i].signDate 
   						+ "</td><td>" + data["searchListVo"][i].signFuturesTradeBeginDate
   						+ "</td><td>" + data["searchListVo"][i].signFuturesTradeEndDate
   						+ "</td></tr>");
    			} 
    		},
    		error: function(error) {					
				console.log("error: "+error);
			}
    	});
	}
	</script>
</th:block>

<th:block layout:fragment=tabContentHistory>
	<h2>체결내역</h2>
	<div class="sub-sub-content">
		<!-- 검색 창 -->
		<div class="gift-search">
			<div class="gift-search-date">
				<span>기간</span>
					<input type="date" name="startDate" id="startDate">
				<span>~</span>
					<input type="date" name="endDate" id="endDate">
				<button type="button" class="btn" onclick="searchCheck()">검색</button>
			</div>
			<div class="gift-search-date-btn">
				<button type="button" class="btn">7일</button>
				<button type="button" class="btn">30일</button>
				<button type="button" class="btn">90일</button>
				<button type="button" class="btn">180일</button>
			</div>
			<div class="gift-search-goods">
				<select>
					<option>전체</option>
					<option>마늘</option>
					<option>고구마</option>
					<option>배추</option>
				</select>
				<select>
					<option>전체</option>
					<option>지정가</option>
					<option>시장가</option>
				</select>
			</div>
		</div>
		
		<table class="table gift-table">
			<thead id="signList">
				<tr>
					<th>체결번호</th>
					<th>매수주문번호</th>
					<th>판매자아이디</th>
					<th>판매자이름</th>
					<th>가격(1계약)</th>
					<th>수량</th>
					<th>전체체결가</th>
					<th>체결증거금</th>
					<th>체결날짜</th>
					<th>선물거래시작일</th>
					<th>선물거래만기일</th>
				</tr>
			</thead>
			<tbody id="firstList">
				<tr th:each="list : ${signList}">
					<td th:text="${list.signPk}"></td>
					<td th:text="${list.fkOrderBuySign}"></td>
					<td th:text="${list.fkSellerSign}"></td>
					<td th:text="${list.signSellerName}"></td>
					<td th:text="${list.signPerPrice}"></td>
					<td th:text="${list.signAmount}"></td>
					<td th:text="${list.signTotalPrice}"></td>
					<td th:text="${list.signInitialMargin}"></td>
					<td th:text="${list.signDate}"></td>
					<td th:text="${list.signFuturesTradeBeginDate}"></td>
					<td th:text="${list.signFuturesTradeEndDate}"></td>
				</tr>
			</tbody>
			<tfoot>
				<tr></tr>
			</tfoot>
		</table>
		<ul class="pagination justify-content-center" id="firstPaging">
	 		<li th:if="${pageMaker.prev} == true" class="page-item">
            	<a class="page-link" th:href="@{/consumer/get/sign/list(page=${pageMaker.startPage}-1,perPageNum=${pageMaker.cri.perPageNum})}">&laquo;</a>
        	</li>
            <li class="page-item" th:each="idx,iterStat : ${#numbers.sequence(pageMaker.startPage,pageMaker.endPage)}"  th:classappend="${pageMaker.cri.page} == ${idx} ? active : null">
            	<a class="page-link" th:href="@{/consumer/get/sign/list(page=${idx},perPageNum=${pageMaker.cri.perPageNum})}" th:text="${idx}"></a>
            </li>
            <li class="page-item" th:if="${pageMaker.next} == true and ${pageMaker.endPage >= 0}">
            	<a class="page-link" th:href="@{/consumer/get/sign/list(page=${pageMaker.endPage}+1,perPageNum=${pageMaker.cri.perPageNum})}">&raquo;</a>
            </li>
		</ul>
		</div>
</th:block>
</html>