<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	data-layout-decorate="~{layout/topAdminTabMenuLayout}">

<th:block layout:fragment="css">
	<style type="text/css">
		.insertBtn{
			text-align: center;
			margin-top: 30px;
		}
		.tab-content{
			background-color: #fff;
		}
	</style>
</th:block>
<th:block layout:fragment="script">
	<script type="text/javascript">
		$(document).ready(function(){
			/* side menu */
			$("#nav-admin").addClass("active");
			$("#topadmin-tab-admin").addClass("active");
	    });
    </script>
</th:block>
<th:block layout:fragment="tabContentAdmin">
	<!-- 관리자 목록 -->
	<h2>관리자 목록</h2>
	<div class="sub-sub-content">
		<table class="table gift-table">
			<tr>
				<td>아이디</td>
				<td>이름</td>
				<td>권한</td>
				<td>등록날짜</td>
			</tr>
			<tr th:each="list : ${adminList}">
				<td><a th:text="${list.adminId}" th:href="@{/topadmin/modify/admin(adminId=${list.adminId})}" class="text-primary"></a></td>
				<td th:text="${list.adminName}"></td>
				<td th:text="${list.adminRight}"></td>
				<td th:text="${list.adminRegisterDate}"></td>
			</tr>
		</table>
		<div class="insertBtn">
			<a th:href="@{/topadmin/add/admin}" class="btn">
				<button type="button" class="btn">관리자 등록</button>
			</a>
		</div>
	</div>
</th:block>
</html>