<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="com.gift.futurestrading.admin.mapper.AdminChartMapper">
	<!-- chart -->
	<!-- 월별 구매자 회원가입 현황 차트 구현위한 select -->
	<select id="selectConsumerMonthChart" resultType="map">
		SELECT count(*) as count
		FROM consumer
		GROUP BY month(consumer_sign_up_date)
		ORDER BY consumer_sign_up_date
	</select>
	<!-- 월별 판매자 회원가입 현황 차트 구현위한 select -->
	<select id="selectSellerMonthChart" resultType="map">
		SELECT count(*) as count
		FROM seller
		GROUP BY month(seller_sign_up_date)
		ORDER BY seller_sign_up_date
	</select>
	<!-- 월별 매수주문 차트 구현위한 select -->
	<select id="selectOrderBuyMonthChart" resultType="map">
		SELECT
		COUNT(*) as count
		FROM order_buy
		WHERE
		fk_item_detail__order_buy='goods_detail01'
		AND order_buy_status='미체결'
		GROUP BY month(order_buy_date)
		ORDER BY order_buy_date
	</select>
	<!-- 월별 매도주문 차트 구현위한 select -->
	<select id="selectOrderSellMonthChart" resultType="map">
		SELECT
		COUNT(*) as count
		FROM order_sell
		WHERE
		fk_item_detail__order_sell='goods_detail01'
		AND order_sell_status='미체결'
		GROUP BY month(order_sell_date)
		ORDER BY order_sell_date
	</select>
</mapper>